@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,700,500italic,700italic);
@import "~normalize.css/normalize";
@import "~scut/dist/scut";

@import "layouts/scaffolding";

@import "components/material-form";
@import "components/button";

@for $i from 1 through 6 {

  h#{$i} {
    font-weight: 500;
  }
}
