.button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  border: 0;
  cursor: pointer;
  background-image: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  outline: none;
  text-decoration: none;
  position: relative;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &--block {
    display: block;
    width: 100%;
  }

  &__layer {
    transition: background-color .2s;
    @include scut-absolute(0 0 0 0);

    .button--light:hover & {
      background-color: rgba(black, .06);
    }
    .button--dark:hover & {
      background-color: rgba(white, .24);
    }
    [disabled]:hover & {
      background-color: transparent;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
  }
}
